.card {
    width:14rem;
    aspect-ratio: 5/6;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.card > a {
    z-index: 10;
    color: white;
    text-decoration: none;
}
.card > img {
    transition: .3s;
    cursor: pointer;
}
.img-height {
    height:100%;
}
.img-width {
    height:110%;
}
.card:hover > .img-height{
    height:110%;
}
.card:hover > .img-width{
    height:120%;
}
.cards {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}